@media only screen and (min-width: 320px) and (max-width: 639px) {
  .banner img {
    height: 260px;
  }
  .topHeading {
    margin-top: 16px;
  }
  .block {
    display: block;
  }
  .block article {
    width: 100%;
    margin-bottom: 20px;
  }
  .block article:last-child {
    margin-bottom: 0px;
  }
  .block img {
    height: auto;
  }
  .rightImg article {
    flex-direction: column-reverse !important;
  }
  .rightImg article .rightSectiocn {
    margin: 0px 0px 16px !important;
  }
  .rightImg article .rightSectiocn img {
    width: 100%;
  }
  .footer {
    padding: 20px;
  }
  .footer ul {
    display: block;
  }
  .footer ul li {
    margin: 0px;
    margin-bottom: 16px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .banner img {
    height: 360px;
  }
  .topHeading {
    margin-top: 16px;
  }
  .block article {
    margin-bottom: 20px;
  }
  .block article:last-child {
    margin-bottom: 0px;
  }
  .block img {
    height: auto;
  }
  .rightImg article {
    flex-direction: column-reverse !important;
  }
  .rightImg article .rightSectiocn {
    margin: 0px 0px 16px !important;
  }
  .rightImg article .rightSectiocn img {
    width: 100%;
  }
  .footer {
    padding: 20px;
  }
  .footer ul {
    display: block;
  }
  .footer ul li {
    margin: 0px;
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .block img {
    height: auto;
  }
  .footer {
    padding:20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .navigation ul {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 99;
    padding: 20px;
    width: 200px;
    right: 0px;
    height: 100%;
    top: 47px;
  }
  .navigation ul li {
    margin: 0px 0px 20px;
  }
  .navigation label {
    display: block;
  }
  .navigation input:checked ~ ul {
    display: block;
  }
}
